// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:-1;

}
.home-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.title-box {
	margin: 20px 0;
	font-family: 'Poppins', sans-serif;
	display: flex;

	.number-box {
		p {
			color: green;
			font-size: 130px;
			line-height: 100px;
			padding-right: 10px;
		}
	}

	.desc-box {
		flex: 1;

		span {
			display: block;
			width: 100%;
			height: 7px;
			background: rgb(2,0,36);
			background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,173,63,1) 100%);
		}

		h1 {
			text-align: left;
		}
	}
}

.art-item {
	* {
		margin: 0;
	}
	img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 20px;
	}

	.author {
		font-weight: 800;
	}

	.title {
		font-weight: 300;
		color: green;
	}
}